POSTGRES_DB=meal_planner
POSTGRES_USER=mp_user
POSTGRES_PASSWORD=admin123
SECRET_KEY=yWHjqeGeQ7dTe5NKUmlfw00n/GcGY3rnW6GXYLPsSpQ=
ANTHROPIC_API_KEY=populate-with-your-own-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
